<div class="container">
  <div class="form-section">
    <h2>Crear reporte</h2>

    <form [formGroup]="CrearReporteform" (ngSubmit)="onSubmit()">
      <label for="titulo">Título:</label>
      <input id="titulo" type="text" formControlName="titulo" placeholder="Escribe el título" />

      <label for="categoria">Categoría:</label>
      <input id="categoria" type="text" placeholder="Selecciona una categoría" />

      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" placeholder="Describe el problema..."></textarea>

      <label for="imagen">Subir imagen:</label>
      <input id="imagen" type="file" />

      <button type="submit" class="btn-publicar">Publicar reporte</button>
    </form>

    <button (click)="volverAUsuario()" class="btn-volver ">Volver a menú</button>
  </div>
  <div class="map-container">
    <div id="map"></div>
  </div>
</div>
