<div class="profile-container">
  <div class="profile-form">
    <h2 class="registro-title">Editar Perfil</h2>
    <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()" class="profile-form">
      <div class="form-group">
        <label>Cedula de Ciudadania:</label>
        <input type="text" formControlName="id" />
      </div>
      <div class="form-group">
        <label>Nombre:</label>
        <input type="text" formControlName="nombre" />
      </div>
      <div class="form-group">
        <label>Ciudad:</label>
        <input type="text" formControlName="ciudadResidencia" />
      </div>
      <div class="form-group">
        <label>Telefono:</label>
        <input type="text" formControlName="telefono" />
      </div>
      <div class="form-group">
        <label>Dirección:</label>
        <input type="text" formControlName="direccion" />
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" formControlName="correo" />
      </div>
      <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" formControlName="contraseña" />
      </div>

      <div class="form-actions">
        <button type="submit" class="update-button">Actualizar Perfil</button>
      </div>
    </form>
  </div>

  <div class="map-section">
    <label class="form-label">Ubicación (haz clic en el mapa)</label>
    <div id="map" class="map-container"></div>
  </div>
</div>
