<div class="container">
  <h1>SafeCity</h1>
  <div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="email" formControlName="correo" placeholder="Correo" />
      <div *ngIf="loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched" class="error">
        Ingresa un correo válido.
      </div>

      <input type="password" formControlName="contraseña" placeholder="Contraseña" />
      <div *ngIf="loginForm.get('contraseña')?.invalid && loginForm.get('contraseña')?.touched" class="error">
        Ingresa la contraseña.
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>

      <div [ngClass]="classResult">{{ result }}</div>
    </form>

    <p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>

    <div class="social-icons">
      <i class="fa fa-instagram"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
    </div>
  </div>
</div>
